* {
    box-sizing: border-box;
}
body {
    font-family: "Poppins";
}
section {
    max-width: 1250px;
    margin: 0 auto;
}
nav {
    position: fixed;
}
.logo {
    float: left;
}
.list-items {
    float: right;
    width: 800px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    display: inline-block;
    margin-left: 18px;
    padding: 12px;
}
ul li a {
    display: block;
    text-decoration: none;
    color: black;
}