@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,400;1,500&family=Rowdies:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
}
body {
    font-family: "Poppins";
}
section {
    width: 1250px;
    margin: 0 auto;
}
header {
    width: 1000px;
    display: flex;
    flex-flow: row wrap;
    /* text-align: center; */
    margin: 100px auto;
    
}
header .text {
    width: 600px;
    margin-left: 150px;
    border-left: 3px solid gray;
    padding-left: 16px;

}

.header h2{
    font-size: 26px;
    font-weight: 900;
    text-transform: capitalize;
}
.header h4 {
    color: goldenrod;
}
/* TODO: I HAVE TO USE GRID INSTEAD OF FLEX. */
.items {
    width: 1050px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 80px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}
.item {
    display: flex;
}
.item svg {
    margin-top: 32px;
    margin-right: 20px;
}
.item p {
    font-size: 13px;
    text-align: justify;
    
}
.item h2 {
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}

/* .items {
    width: 1050px;
    display: flex;
    margin: 0 auto;
}
.item {
    display: flex;
}
.item svg {
    margin-top: 30px ;
    margin-right: 20px;
}
.item p {
    font-size: 14px;
}
.item h2 {
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1.1px;
} */