* {
    box-sizing: border-box;
}
body {
    font-family: "Poppins";
}
section {
    width: 1000px ;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
section .text {
    flex: 50% ;
}

section .image {
    
    position: relative;
    width: 380px;
    height: 650px;
    background-color: #ff6301;

}
section h2 {
    font-size: 56px;
    margin: 12px;
    color: #ff6301;
}
section p {
    width: 400px;
    text-align: justify;
}
.btn {
    text-transform: uppercase;
    padding: 16px 36px;
    color: white;
    text-align: center;
    background-color: #ff6301;
    border: none;
    letter-spacing: 4px;
    margin-top: 12px;
    border-radius: 4px;
}
.btn:hover {
    background-color: red;
    transition: all 0.7s ease-in;
    cursor: pointer;
}
.image img {
    position: absolute;
    left: -40%;
    top: 9%;
}
